.container-sm {
    margin-top: 2em !important;
}
.btn-success {
    width: 100%;
}
h1 {
    display: flex;
    justify-content: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}